* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 42px;
}

nav {
    display: flex;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}

.timer {
    position: absolute;
    top: 5px;
    right: 75px;
}

body {
    display: flex;
}

card {
    display: block;
    position: relative;
    width: 500px;
    height: 400px;
    padding: 200px 275px 10px 20px;
    margin: 0 auto;
    text-align: center;
}

card h1 {
    font-size: 36px;
}

button {
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
}

#title-card {
    display: block;
}

#q1 {
    display: none;
    text-align: left;
}

#q1,
li {
    list-style-type: none;
}

#score {
    display: none;
    text-align: left;
}

#score form {
    font-size: 24px;
}

#high-score {
    display: none;
}

#high-scores {
    list-style-type: none;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: blue;
}

.goback,
.clear {
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 1700px) {
    .timer {
        z-index: 4;
    }

}

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }

    .timer {
        z-index: 4;
    }

}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .nav {
        display: inline;
    }
}