* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}

.timer {
    position: absolute;
    top: 5px;
    right: 75px;
}

body {
    display: flex;
}

.card {
    display: block;
    position: relative;
    width: 500px;
    height: 400px;
    padding: 250px 250px 10px 20px;
    margin: 0 auto;
    text-align: center;
}

.card li {
    list-style-type: none;
}

button {
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
}

#title-card {
    display: block;
}

#q1 {
    display: none;
    text-align: left;
}

#score {
    display: none;
    text-align: left;
}

#score form {
    font-size: 24px;
}

#high-score {
    display: none;
}